
input{
    width: 60%;
    height: 20px;
    background-color:#fff;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: groove 0.5px rgb(203, 220, 236);
    outline: none;
    border-radius: 10px;
}
button{
    width: 60%;
    height: 40px;
    margin: 20px auto;
    display: block;
    justify-content: center;
    background-color: #02182e;
    color: #fff;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    transition: .2s ease-in;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 10px 10px 50px rgb(207, 210, 214);
}